body,table,td {
	background-color: black;
	font-family: arial;
	color: white;
	font-size: 11pt;
}
td {
	padding-bottom: 8px;
	background-color: #181818;
}
h1,h2,h3 {
	color: red;
}
#regels {
	color: white;
}
#soviet {
	color: red;
}
#alied {
	color: blue;
}
#w {
	color: green;
}
#l {
	color: red;
}
#g {
	color: orange;
}
#cp {
	color: green;
	font-size: 40pt;
}
#cn {
	color: red;
	font-size: 40pt;
}
#header {
	height: 230px;
	width: 800px;
}
#tabs {
	height: 50px;
	width: 590px;
	
	margin-top: 15px;
	
	color: #4F5650;
	font-family: arial;
	font-size: 14px;
}
	#tab1 {
		cursor: pointer;
		float: left;
		background-image: url('../pics/buddy.png');
		
		height: 32px;
		width: 119px;
	}
	#tab2 {
		cursor: pointer;
		float: left;
		background-image: url('../pics/Match.png');
		
		height: 32px;
		width: 119px;
	}	
	#tab3 {
		cursor: pointer;
		float: left;
		background-image: url('../pics/world.png');
		
		height: 32px;
		width: 119px;
	}
	#tab4 {
		cursor: pointer;
		float: left;
		background-image: url('../pics/help.png');
		
		height: 32px;
		width: 110px;
	}
	#tab5 {
		cursor: pointer;
		float: left;
		background-image: url('../pics/nation.png');
		
		height: 32px;
		width: 110px;
	}
#footer {
	width: 100%;
	height: 15px;
	margin-bottom: -5px;
	margin-top: 50px;
	
	background-color: #181818;
	
	border-style: gray;
	border-color: white;
	border-width: 1px;
	
	font-size: 9pt;
}

#page {
	height: auto;
	width: 1000px;
	
	text-align: left;
}

a:link {
	font-family: arial;
	font-size: 11pt;
	color: white;
	text-decoration: none;
}
a:hover {
	font-family: arial;
	font-size: 11pt;
	color: red;
	text-decoration: none;
}
a:visited {
	font-family: arial;
	font-size: 11pt;
	color: white;
	text-decoration: none;
}
a:active {
	font-family: arial;
	font-size: 11pt;
	color: white;
	text-decoration: underlined
}
